/*Plugin CSS*/
.str_wrap {
	overflow:hidden;
	//zoom:1;
	width:100%;
	font-size:15px;
	line-height:16px;
	position:relative;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;  
	background: #000 linear-gradient(#339999, #339999, #339999) repeat scroll 0 0;
	white-space:nowrap;
	border-bottom: 2px solid #fff;
}

.str_wrap:hover{	
	background: #000 linear-gradient(#339999, #339999, #339999) repeat scroll 0 0 !important;
}

.str_wrap ul{
	padding-top: 10px;
	color: #fff;
}

.str_wrap ul li a{
	padding: 10px;
	color: #E1DBD8;
}

.str_wrap ul li a:hover{
	/* padding: 10px; */
	color: #FFE61E;
}

.str_wrap.str_active {
	background:#f1f1f1;
}
.str_move { 
	white-space:nowrap;
	position:absolute; 
	top:0; 
	left:0;
	cursor:move;
}
.str_move_clone {
	display:inline-block;
	//display:inline;
	//zoom:1;
	vertical-align:top;
	position:absolute; 
	left:100%;
	top:0;
}
.str_vertical .str_move_clone {
	left:0;
	top:100%;
}
.str_down .str_move_clone {
	left:0;
	bottom:100%;
}
.str_vertical .str_move,
.str_down .str_move {
	white-space:normal;
	width:100%;
}
.str_static .str_move,
.no_drag .str_move,
.noStop .str_move{
	cursor:inherit;
}
.str_wrap img {
	max-width:none !important;	
}